<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="contacto">
    <div class="menu container">
        <a href="#" class="logo">Barberlogy</a>
        <input type="checkbox" id="menu">
        <label for="menu">
            <img src="../assets/images/menu.png" class="menu-icono" alt="menu">
        </label>
        <nav class="navbar">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="galeria.html">Porfolio</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </div>
    <section class="about">
        <div class="main">
            <img src="../assets/images/main.jpg" alt="YO">
            <div class="about-text">
                <h1>Sobre Mi</h1>
                <h5>Yo & <span>mi empresa</span></h5>
                <p>Soy un joven cubano de 18 años, que llego hace poco a este pais. Donde resido en madrid alcorcon. Me inscribi en curso llamado MasterD donde aprendo a hacer lo que me gustaria ser un futuro.¡UN BUEN PROGRAMADOR! Esta es mi primera empresa, sobre venta de autos y aunque no sea lo mejor, me gusto hacerla y se que mejorare. Barberlogy</p>
                <button type="button">Ir al Inicio</button>
            </div>
        </div>

    </section>
</body>
</html>