<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="galeria">
    <div class="menu container">
        <a href="#" class="logo">Barberlogy</a>
        <input type="checkbox" id="menu">
        <label for="menu">
            <img src="../assets/images/menu.png" class="menu-icono" alt="menu">
        </label>
        <nav class="navbar">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="#">Porfolio</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </div>
    <h2 class="titulo">Cortes</h2>
    <div class="slider-box">
        <ul>
            <li>
                <img src="../assets/images/c1.jpeg" alt="">
                <div class="texto-i">
                    <h2>Corte 1</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est repellat sed non maiores maxime facere molestiae quo nulla ab fugit id, voluptates ducimus ullam praesentium obcaecati accusamus quia, ratione expedita!</p>
                </div>
            </li>
            <li>
                <img src="../assets/images/c2.jpeg" alt="">
                <div class="texto-i">
                    <h2>Corte 2</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est repellat sed non maiores maxime facere molestiae quo nulla ab fugit id, voluptates ducimus ullam praesentium obcaecati accusamus quia, ratione expedita!</p>
                </div>
            </li>
            <li>
                <img src="../assets/images/c5.jpeg" alt="">
                <div class="texto-i">
                    <h2>Corte 3</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est repellat sed non maiores maxime facere molestiae quo nulla ab fugit id, voluptates ducimus ullam praesentium obcaecati accusamus quia, ratione expedita!</p>
                </div>
            </li>
            <li>
                <img src="../assets/images/c4.jpeg" alt="">
                <div class="texto-i">
                    <h2>Corte 4</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est repellat sed non maiores maxime facere molestiae quo nulla ab fugit id, voluptates ducimus ullam praesentium obcaecati accusamus quia, ratione expedita!</p>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>