<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presupuesto</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="presupuesto">
    <div class="menu container">
        <a href="#" class="logo">Barberlogy</a>
        <input type="checkbox" id="menu">
        <label for="menu">
            <img src="../assets/images/menu.png" class="menu-icono" alt="menu">
        </label>
        <nav class="navbar">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="#">Presupuesto</a></li>
                <li><a href="galeria.html">Porfolio</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
   <div class="formulario">
<h1>Inicio de Sesion</h1>
   <form method="post">
    <div class="username">
        <input type="text" placeholder="Usuario">
    </div>
    <div class="contraseña">
        <input type="password" placeholder="Contraseña">
    </div>
    <div class="recordar">
        ¿Olvido su contraseña?
    </div>
    <input type="submit" value="Iniciar">
    <div class="registrase">
        Quiero hacer el <a href="#">registro</a>
    </div>
   </form>
   </div>
</body>
</html>