<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header> 
        <h1>Contacto</h1>
    </header>
    <nav>
         <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="galeria.html">Galería</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
    </nav>
    <div id="map">
        <img src="../assets/images/mapa.jpeg" alt="Mapa">
    </div>
    <div>
        <h2>Datos de Contacto</h2>
        <p>Sitio Web: www.technovasolutions.com</p>
        <p> Dirección: Calle de la Innovación, 123, 28001 Madrid, España</p>
        <p>Teléfono: +34 910 123 456</p>
        <p>Email: contacto@tuempresa.com</p>
    </div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <script src="../js/scripts.js"></script>
</body>
</html>
